<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.myblog.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.zjh.myblog.entity.UserRole">
    <!--@mbg.generated-->
    <!--@Table sys_user_role-->
    <result property="userId" column="user_id"/>
    <result property="roleId" column="role_id"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, role_id
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from sys_user_role
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjh.myblog.entity.UserRole">
    <!--@mbg.generated-->
    insert into sys_user_role (user_id, role_id)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zjh.myblog.entity.UserRole">
    <!--@mbg.generated-->
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <delete id="deleteUserRoleByUserId" parameterType="Long">
    delete from sys_user_role where user_id=#{userId}
  </delete>

  <select id="countUserRoleByRoleId" resultType="Integer">
    select count(1) from sys_user_role where role_id=#{roleId}
  </select>

  <delete id="deleteUserRole" parameterType="Long">
    delete from sys_user_role where user_id in
    <foreach collection="array" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>

  <insert id="batchUserRole">
    insert into sys_user_role(user_id, role_id) values
    <foreach item="item" index="index" collection="list" separator=",">
      (#{item.userId},#{item.roleId})
    </foreach>
  </insert>

  <delete id="deleteUserRoleInfo" parameterType="com.zjh.myblog.entity.UserRole">
    delete from sys_user_role where user_id=#{userId} and role_id=#{roleId}
  </delete>

  <delete id="deleteUserRoleInfos">
    delete from sys_user_role where role_id=#{roleId} and user_id in
    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>
</mapper>